 
@media screen and (min-width: 1350px){
    #section{
        width:  50%;
        height: 88%;
        background-color: rgb(236, 47, 47);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        z-index: 1;
        margin-bottom: 1px;
    }
    
    .cardapios {
        background-color: rgb(15, 15, 190);
        width: 65%;
        height: 6%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 3px 3px 5px darkgray;
    }
    
    .cardapios > p {
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
    }
    
    
    
    
    .ingredientes {
        justify-content: center;
    
     
        
    }
    
    
    .menu {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    
    .menu-borda {
        display: flex;
        flex-direction: row;
    }
    
    #content-card {
        background-color: black;
        width: 65%;
        height: 15%;
        color: yellow;
        text-align: center;
        display: block;
        display: none;
        margin-bottom: 1rem;
    
    }
    
    
    
    #content-card-two {
        background-color: black;
        width: 65%;
        height: 15%;
        color: yellow;
        text-align: center;
        transition: 0.2s all ease-in-out;
        display: none;
    
    }
    
    #content-card-three {
        background-color: black;
        width: 65%;
        height: 15%;
        color: yellow;
        text-align: center;
        display: block;
        transition: 0.2s all ease-in-out;
        display: none;
        cursor: pointer;
    
    }
    
    
    #content-card-four {
        background-color: black;
        width: 65%;
        height: 15%;
        color: yellow;
        text-align: center;
        display: block;
        transition: 0.2s all ease-in-out;
        display: none;
        cursor: pointer;
    
    }
    
    #img-content-open {
        cursor: pointer;
    }
    
    
    .content-main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: rgb(189, 9, 9);
        color: white;
        padding-bottom: 1rem;
        padding-top: 1rem;
    
    }
    
    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        background-color: rgb(41, 41, 211);
        color: rgb(208, 255, 0);
        width: 100vw;
    }
    
    
    .yeloow {
        background-color: yellow;
        height: 5px;
        width: 100vw;
    }

}
   